<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyazer. Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px 793px 0px 0px; width: 745px; height: 117px;'></textarea>
     <input type="checkbox" name="removepunc">Remove Punctuation<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
    <button type='submit'> Analyze Text</button>

</form>
</body>
</html>